/* Asegura que el html y el body cubran toda la página */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F0F3BD;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F0F3BD;
}

/* Asegura que el #root ocupe todo el espacio disponible */
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Estilos del contenedor de la aplicación */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F0F3BD;
}

/* Asegura que el contenido de la navegación ocupe toda la anchura */
nav {
    width: 100%;
    top: 0;
    left: 0;
}

/* Añade un margen superior al contenido principal para evitar la superposición */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Estilos del menú desplegable */
.dropdown-menu {
    background-color: #FF934F;
    color: black;
}

/* Estilos de los ítems de la tienda */
.info-tienda-item {
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilo de los títulos */
.color-titulos {
    color: #00E8FC;
}

/* Estilo del nombre de la tienda */
.nombre-tienda {
    font-family: 'Playwrite NG Modern', sans-serif;
    color: #A33B20;
    font-size: 30px;
    text-decoration: underline;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    background-color: #FF934F;
    padding: 10px;
    
}

/* Estilos personalizados de las tarjetas */
.custom-card {
    border: 2px solid black;
}

/* Estilo de la fuente en negrita */
.font-weight-bold {
    font-weight: bold;
}
